COMPOSE_PROJECT_NAME=mini-fintech-platform

POSTGRES_PASSWORD=local_password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

PLATFORM_DB_URL=jdbc:postgresql://platform-db:5432/platform
PLATFORM_DB_USER=platform
PLATFORM_DB_PASSWORD=platform

ACQUIRER_DB_URL=jdbc:postgresql://acquirer-db:5432/acquirer
ACQUIRER_DB_USER=acquirer
ACQUIRER_DB_PASSWORD=acquirer

NETWORK_DB_URL=jdbc:postgresql://network-db:5432/network
NETWORK_DB_USER=network
NETWORK_DB_PASSWORD=network

ISSUER_DB_URL=jdbc:postgresql://issuer-db:5432/issuer
ISSUER_DB_USER=issuer
ISSUER_DB_PASSWORD=issuer

VAULT_DB_URL=jdbc:postgresql://vault-db:5432/vault
VAULT_DB_USER=vault
VAULT_DB_PASSWORD=vault
